*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'vazir';
    src: url(../fonts/vazir/Vazir-Medium-FD.eot);
    src: url(../fonts/vazir/Vazir-Medium-FD.ttf);
    src: url(../fonts/vazir/Vazir-Medium-FD.woff);
    src: url(../fonts/vazir/Vazir-Medium-FD.woff2);
}
body{
    font-family: vazir;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 99;
    border-radius: 50%;
}
/***** start of header *****/
.ae-background1{
    background-image: url(../img/background1.jpg);
    height: 880px;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.ae-nav-container{
    position: relative;
    height: 91px;
}
.ae-navbar{
    width: 100%;
    height: 91px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
}
.ae-logo{
    padding: 25px 0px;
}
.ae-logo img{
    width: auto;
    height: auto;
}
.ae-logotext{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.ae-navtext a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 14px;
}
.ae-navtext a:nth-child(1){
    color: #ffc627;
    border-bottom:2px solid #ffc627;
    padding: 8px 5px;
}
.ae-menu-hover{
    padding: 10px;
    border:none;
    position: relative;
}
.ae-menu-hover:hover{
    border: none;
    color: #ffc627;
}
.ae-menu-hover::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom:0;
    background-color: #ffc627;
    transition: all ease-in-out .2s;
}
.ae-menu-hover:hover::after{
    width: 100%;
    left: 0;
}
.ae-social-icons a{
    text-decoration: none;
    margin-right: 10px;
}
.ae-social-icons a:nth-child(1){
    margin-right: 100px;
}
.ae-phone{
    color: #fff;
}
.ae-phone svg{
    margin-right: 5px;
}
.ae-img-text-container{
    position: relative;
    top: 300px;
    margin-right: 100px;
}
.ae-img-title{
    font-size: 36px;
    color: #fff;
}
.ae-img-text{
    color: #fff;
    margin-top: 30px;
}
.ae-btns{
    padding-right: 36px;
    padding-left: 36px;
}
.navbar-toggler{
    background-color: #ffc627;
    border-radius: 5px;
    color: #fff;
}
.ae-offcanvas-items a{
    color: #666;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
/***** end of header *****/

/***** start of welcoming *****/
.ae-welcome-container{
    margin-top: 80px;
}
.ae-welcome-title{
    font-weight: bold;
    font-size: 26px;
}
.ae-welcome-text{
    padding-left: 100px;
}
/***** End of welcoming *****/


/***** start of maziatha Section *****/
.ae-maziatha div div{
    justify-content: center;
    text-align: center;
}
.ae-maziat-matn{
    width: 70%;
    margin: auto;
}
/***** end of maziatha Section *****/

/***** start of gallery Section *****/
/* Style the Image Used to Trigger the Modal */
#myImg1{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 24%;
  }
  
  #myImg1:hover {opacity: 0.7;}

  #myImg2{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 24%;
  }
  
  #myImg2:hover {opacity: 0.7;}

  #myImg3{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 24%;
  }
  
  #myImg3:hover {opacity: 0.7;}

  #myImg4{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 24%;
  }
  
  #myImg4:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption1{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  #caption2{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  #caption3{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  #caption4{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption1 , #caption2 , #caption3 , #caption4{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/***** End of gallery Section *****/

/***** start of modir Section *****/
.ae-modir p{
    color: #aaa;
}
.ae-modir a{
    text-decoration: none;
}
.ae-modir div{
    justify-content: center;
    text-align: center;
}
/***** End of modir Section *****/

/***** start of team Section *****/
.ae-team div div{
    justify-content: center;
    text-align: center;
}
.ae-team-matn{
    width: 70%;
    margin: auto;
}
/***** End of team Section *****/

/***** start of homes Section *****/
.ae-homes-box{
    border: 1px solid #999;
    position: relative;
    height: 100%;
}
.ae-home-badge{
    position: absolute;
    background: #ffc627;
    text-align: center;
    top: -1px;
    right: -1px;
    padding: 5px 25px;
    line-height: 2rem;
    font-size: 1rem;
    color:white;
}
.ae-homes-box>div{
    width: 50%;
}
.ae-homes-box img{
    width: 100%;
    height: 100%;
}
.ae-homes-matn{
    margin: 25px 0px;
    padding: 0px 20px;
}
    .ae-homes-matn div{
        margin-bottom: 15px;
    }
.ae-homes:last-child{
    margin-bottom: 50px;
}
/***** End of homes Section *****/

/***** start of suggest Section *****/
.ae-background2{
    background-image: url(../img/background2.jpg);
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.ae-suggest-box{
    position: absolute;
    border: 2px solid #fff;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 200px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 25px;
}
.ae-suggest-box .ae-btn-first{
    width: max-content;
    margin: 0 auto;
    margin-top: 20px;
}
/***** End of suggest Section *****/

/***** Start of counter Section *****/
.ae-counter{
    text-align: center;
    margin: 100px;
}
.ae-counter .counter{
    color: #ffc627;
    font-size: 30px;
}
.ae-border{
    border: 1px solid #ffc627;
    width: 65px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
}
/***** End of counter Section *****/

/***** Start of nazarat Section *****/
.ae-nazarat-box{
    text-align: center;
}
.ae-nazarat-btn{
    border-radius: 5px;
    background-color: #ffc627;
    width: 120px;
    margin: 0 auto;
}
/***** End of nazarat Section *****/

/***** Start of rahehal Section *****/
.ae-rahehal-box div:nth-child(1){
    color: #ffc627;
    font-size: 34px;
    border: 1px solid #999;
    padding: 10px 25px;
}
/***** End of rahehal Section *****/

/***** Start of estekhdam Section *****/
.ae-estekhdam-left-box{
    display: flex;
    flex-direction: column;
}
.ae-estekhdam-left-box p{
    color: #666;
    max-width: 450px;
}
/***** End of estekhdam Section *****/

/***** start of soalat section *****/
.ae-soalat{
    max-width: 500px;
}
/***** end of soalat section *****/

/***** start of timer section *****/
.ae-background3{
    background-image: url(../img/background3.jpg);
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.ae-timer-box{
    position: absolute;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 150px;
    margin-right: 15px;
    margin-left: 15px;
}
:root {
    --smaller: .75;
  }
  .ae-timer-container{
    color: #ffc627;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 3.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
/***** end of timer section *****/

/***** start of melk section *****/
.ae-melk img{
    min-width: 350px;
}
.ae-melk div:nth-child(2){
    text-align: center;
}
.ae-melk span{
    color: #999;
    padding-left: 15px;
    padding-right: 5px;
}
/***** end of melk section *****/

/***** start of hamkaran Section *****/
.ae-hamkaran div{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
/***** end of hamkaran Section *****/

/***** start of contact us Section *****/
.ae-contact div{
    justify-content: center;
    text-align: center;
}
.ae-contact-matn{
    color: #666;
    margin-bottom: 60px;
}
.ae-form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
}
.ae-form input{
    margin-bottom: 5px;
    padding: 5px;
    text-align: right;
}
.ae-form textarea{
    height: 100px;
    padding: 5px;
}
.ae-form input:last-child{
    width: 80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}
/***** end of contact us Section *****/

/***** start of footer Section *****/
.ae-footer-bg{
    background-color: #292929;
}
.ae-footer div{
    text-align: center;
}
/***** End of footer Section *****/