<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href=#>MySite</a>
        </div>
        <ul class="nav-links" id="menu">
            <li><a href=#>About</a></li>
            <li><a href=#>Services</a></li>
            <li><a href=#>Blog</a></li>
            <li><a href=#>Contact</a></li>
        </ul>
        <div class="menu-toggle" id="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>